
{% extends "base.html" %}



{% block js %} 

{% endblock %}


{% block action %} class="events" {% endblock %}

{% block content %}
<input type = "hidden" id = "eventsVal" name = "eventsVal" value = "{{e}}"></input>
<script type = "text/javascript"> 
    var eventsJS = JSON.parse(document.getElementById("eventsVal").value);
    const result = eventsJS.filter(eventsJS => eventsJS.name.indexOf("Exhibit") != -1);
    console.log(result);
</script>
    <!--{% for event in events %}
        <p style="font-size: 20px; text-align: left; color: #000000;">{{event['name']}}</p>
        <p style="text-align: left; color: #000000;">{{event['Description']}}</p>
    {% endfor %}-->

    
{% endblock %}