{% extends "base.html" %}

{% block js %}
<script src="{{url_for('static', filename='js/journal.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/journal.css')}}">

<link rel="stylesheet" href="{{url_for('static', filename='css/calendar.css')}}">

<title>Calendar with Events</title>

{% endblock %}



{% block action %}
class = "login" onload="submitted()"
{% endblock %}

{% block content %} 


<div class = "topButtons">
    <button id="newEntry" name="newEntry" onclick="makeNewEntry()">New Entry</button>
    <button id="newJournalButton" name="newJournalButton" onclick="makeNewJournal()">New Journal</button>
    <button id="seeAllJournals" name="seeAllJournals" onclick="getAllJournals()">See All Journals</button>
</div>



<div class="calContainer">
    <div class="left"> 
        <div class="calendar"> 
            <div class="month">
                <i class="fa fa-angle-left prev"></i>
                <div class = "date"> november 22 </div>
                <i class="fa fa-angle-right next"></i>
            </div>
            <div class="weekdays">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div class="days"></div>
            <div class="goto-today">
                <div class="goto">
                    <input type="text" placeholder="mm/yyyy" class="date-input" />
                    <button class="goto-btn">Go</button>
                </div>
                <button class="today-btn">Today</button>
            </div>
        </div>
    </div>
    <div class = "right">
        <div class="today-date">
            <div class="event-day"></div>
            <!--<button>New Entry</button>
            <button>New Journal</button>
            <button>See All Journals</button>-->
            <!--<div class="event-date"></div>-->
        </div>
        <div class="events"></div>
    </div>
</div>    

<script src="{{url_for('static', filename='js/calendar.js')}}"></script>


<div id="entries" name ="entries" class="entryForm entryForm--hidden">
    <button class = "backButton" onclick="goToMainPage()"> <i class="fa-solid fa-arrow-left-long"></i> Back</button>
    <p id="status" class = "form__title" style="font-size: 20px; text-align: center; color: white; font-family: Poppins sans-serif;"> What do you want to write today? </p>
    <!--<div class="form__message form__message--error"> </div>-->
    <form class="form" id="journalEntry" action="{{url_for('enterJournalEntry')}}" method="post">
        <input type="date" class="form__input_date" id = "date" name = "date" required> </input>
        <label for="journal" style = "color: white; font-family: Poppins sans-serif;">Choose a journal:</label>
        <select class="form__input_date" id="journal" name="journal" required> </select>
        <input type="text" class="form__input_date" id ="title" name="title" autofocus placeholder="Title"> </input>
        <!--<input type="text" class="form__input" id="entry" name="entry" autofocus placeholder="Dear Diary, ..."> </input>-->
        <textarea class="form__input" id = "entry" name = "entry" placeholder="Dear Diary..."></textarea>
        <button id = "submitButton" class = "form__button" type="submit" >Enter</button>
    </form>
    
</div>


<div id="makeJournal" name="makeJournal" class="journalForm entryForm--hidden">
    <button class = "backButton" onclick="goToMainPage()"> <i class="fa-solid fa-arrow-left-long"></i> Back</button>
    <p id="status" class = "form__title" style="font-size: 20px; text-align: center; color: white; font-family: Poppins sans-serif;"> New Journal </p>
    <form class="form" id="newJournal" action="{{url_for('enterJournal')}}" method="post">
        <input type="text" class="form__input_date" id ="title" name="title" autofocus placeholder="Journal Name"> </input>
        <label for="journalColor" style = "color: white; font-family: Poppins sans-serif;">Choose a color for your journal:</label>
        <input type="color" class="form__input_date" id="journalColor" name="journalColor"> </input>
        <button id = "submitButton" name = "submitButton" class = "form__button" type="submit" >Enter</button>
    </form>
</div>

<!--TODO-->
<!-- make only one form, and make javascript fix the differences-->
 <!-- edit the journal selector to select the right journal when editing an entry-->

<!-- Edit  form for editing entries, or viewing them! -->
<div id="entriesEdit" name ="entriesEdit" class="entryForm entryForm--hidden">
    <button class = "backButton" onclick="goToMainPage()"> <i class="fa-solid fa-arrow-left-long"></i> Back</button>
    <p id="statusEdit" class = "form__title" style="font-size: 20px; text-align: center; color: white; font-family: Poppins sans-serif;"> Editing: </p>
    <form class="form" id="journalEntryEdit" action="{{url_for('enterJournalEntry')}}" method="post">
        <input type="date" class="form__input_date" id = "dateEdit" name = "dateEdit" required> </input>
        <label for="journal" style = "color: white; font-family: Poppins sans-serif;">Choose a journal:</label>
        <select class="form__input_date" id="journalEdit" name="journalEdit" required> </select>
        <input type="text" class="form__input_date" id ="titleEdit" name="titleEdit" autofocus placeholder="Title"> </input>
        <!--<input type="text" class="form__input" id="entryEdit" name="entryEdit" autofocus placeholder="Dear Diary, ..."> </input>-->
        <textarea class="form__input" id = "entryEdit" name = "entryEdit" placeholder="Dear Diary..."></textarea>
        <button id = "submitButtonEdit" class = "form__button" type="submit" >Save Changes</button>
    </form>
</div>


<input type = "hidden" id="entered" name = "entered" value = "{{e}}">
    <!--<div class = "container" name = "journal" id = "journal" >
        <p id="status" class = "form__title" style="font-size: 20px; text-align: center; color: black;"> What do you want to write today? </p>
        <div class="form__message form__message--error"> </div>
        <form class="form" id="journalEntry" action="{{url_for('enterJournalEntry')}}" method="post">
            <input type="date" class="form__input_date" id = "date" name = "date" required> </input>
            <textarea class="form__input" id = "entry" name = "entry" placeholder="Dear Diary, ...."> </textarea>  
            <button id = "submitButton" class = "form__button" type="submit" >Enter</button>
        </form>
        <input type = "hidden" id="entered" name = "entered" value = "{{e}}">
    </div>-->

    
{% endblock %}


