{% extends "base.html" %}

{% block js %}
<script src="{{url_for('static', filename='js/journal.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/journal.css')}}">

<link rel="stylesheet" href="{{url_for('static', filename='css/calendar.css')}}">

<title>Calendar with Events</title>

{% endblock %}



{% block action %}
class = "login" onload="submitted()"
{% endblock %}

{% block content %} 

<div class="calContainer">
    <div class="left"> 
        <div class="calendar"> 
            <div class="month">
                <i class="fa fa-angle-left prev"></i>
                <div class = "date"> november 22 </div>
                <i class="fa fa-angle-right next"></i>
            </div>
            <div class="weekdays">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div class="days"></div>
            <div class="goto-today">
                <div class="goto">
                    <input type="text" placeholder="mm/yyyy" class="date-input" />
                    <button class="goto-btn">Go</button>
                </div>
                <button class="today-btn">Today</button>
            </div>
        </div>
    </div>
    <div class = "right">
        <div class="today-date">
            <div class="event-day"></div>
            <button>New Entry</button>
            <!--<div class="event-date"></div>-->
        </div>
        <div class="events"></div>
        
        <!--adjust!!!!
        <div class="add-event-wrapper">
            <div class="add-event-header">
                <div class="title">Add Event</div>
                <i class = "fas fa-times close"></i>
            </div>
        </div>-->
            <!--<div class="add-event-body">
                <div class="add-event-input">
                    <input type = "text" placeholder="Event Name" class="event-name" />
                </div>
                <div class="add-event-input">
                    <input type = "text" placeholder="Event Time From" class="event-time-from" />
                </div>
                <div class="add-event-input">
                    <input type = "text" placeholder="Event Time To" class="event-time-to" />
                </div>
            </div>
        </div>-->
    </div>
</div>    

<script src="{{url_for('static', filename='js/calendar.js')}}"></script>

    <!--<div class = "container" name = "journal" id = "journal" >
        <p id="status" class = "form__title" style="font-size: 20px; text-align: center; color: black;"> What do you want to write today? </p>
        <div class="form__message form__message--error"> </div>
        <form class="form" id="journalEntry" action="{{url_for('enterJournalEntry')}}" method="post">
            <input type="date" class="form__input_date" id = "date" name = "date" required> </input>
            <textarea class="form__input" id = "entry" name = "entry" placeholder="Dear Diary, ...."> </textarea>  
            <button id = "submitButton" class = "form__button" type="submit" >Enter</button>
        </form>
        <input type = "hidden" id="entered" name = "entered" value = "{{e}}">
    </div>-->

    
{% endblock %}


